
*.user
bin/
vcpkg_installed/
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
*.vcxproj
*.filters
*.sln
*.dir/
*_autogen/
projects/*.osmmap/*
.vs/
*.sqlite
*.osm
!tests/osm/*.osm
!tests/osm/render_cases/*.osm
!tests/osm/render_cases/*.svg
*/x64/
*/Debug/
*.ttf
azcopy.exe
CTestTestfile.cmake
pushgtctoazure.py
