
*.user
vcpkg/
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
*.vcxproj
*.filters
*.sln
*.dir/
*_autogen/
projects/*.osmmap/*
.vs/
*.sqlite
*.osm
*/x64/
*/Debug/
*.ttf
azcopy.exe
CTestTestfile.cmake
pushgtctoazure.py